extends ../layout

block header
    - cur = "empresas_clientes"

block content
    h1 #{title}
    p
        a(href='/empresas/clientes/add')
            button.btn.btn-labeled.btn-success(type='button')
                span.btn-label
                    i.fa.fa-plus
                    |   Adicionar Empresa Cliente
    if !err
        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        - var keys = Object.keys(empresas[0])
                        - keys.push(''/*, ''*/)
                        each val in keys
                            if val == "data_nasc"
                            th= val
                tbody
                    each empresa, i in empresas
                        tr
                            each key in empresa
                                td= key
                            td
                                a(href='/empresas/clientes/update/' + empresa.cnpj_cli)
                                    button.btn.btn-labeled.btn-warning(type='button')
                                        span.btn-label
                                            i.fa.fa-edit