extends ../layout

block header
    - cur = "consultas"

block content
    h1 #{title}
    if consultas && consultas[0]
        p
            a(href='/consultas')
                button.btn.btn-labeled.btn-info(type='button')
                    span.btn-label
                        i.fa.fa-window-close
                        |   Limpar Consulta

        .table-responsive
            table.table.table-hover
                thead.thead-dark
                    tr
                        - var keys = Object.keys(consultas[0])
                        each val in keys
                            th= val
                tbody
                    each consulta, i in consultas
                        tr
                            each key in consulta
                                td= key
    else
        p
            - let i = 1
            while i < 8
                a(href='/consultas/' + i)
                    button.btn.btn-labeled.btn-info(type='button')
                        span.btn-label
                            i.fa.fa-search
                            |   Consulta  
                            span=i
                            - i++
                |    
        hr
        p
            form(method='POST', action='/consultas/custom')
                #form-group
                    lable Execute sua própria query:
                    textarea.form-control(name='query')

                br
                button.btn.btn-info(type='submit')
                    span.btn-label
                        i.fa.fa-search
                        |   Consulta