extends ../layout

block header
    - cur = "audio-visual"

block content
    h1 #{title}
    form(method='POST', action='/audio-visual/add')
        //-  cnpj_art,     nome,       valor,      interesse,       telefone, email, endereco

        #form-group
            lable CPF:
            input.form-control(name='cpf_audio', type='text', value=audioVisual.cpf_audio)
        #form-group
            lable Categoria:
            input.form-control(name='categoria', type='text', value=audioVisual.categoria)
        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-plus
                |   Adicionar