
extends ../layout


block header
    - cur = "servicos"

block content
    h1 #{title}
    form(method='POST', action='/servicos/add')
        #form-group
            lable CNPJ Técnico:
            input.form-control(name='cnpj_tecnico', type='text', value=servico.cnpj_tecnico)
        #form-group
            lable CPF Ator:
            input.form-control(name='cpf_actor', type='text', value=servico.cpf_actor)
        #form-group
            lable Nome Serviço:
            input.form-control(name='nome_servico', type='text', value=servico.nome_servico)

        br
        button.btn.btn-primary(type='submit')
            span.btn-label
                i.fa.fa-plus
                |   Adicionar